/pki
/manifests
*-secret.yaml
/openshift-apiserver/openshift-apiserver-apiservices.yaml
/config.sh
/config_api_ip.sh
ignition-generator/fake-root/etc/kubernetes/kubeconfig
ignition-generator/fake-root/etc/kubernetes/ca.crt
ignition-generator/fake-root/var/lib/kubelet/config.json
/pull-secret
/machine-api/*.json
/machine-api/*.ign
/kubeadmin-password
