/pki
/manifests
*-secret.yaml
/openshift-apiserver/openshift-apiserver-apiservices.yaml
/config.sh
ignition-generator/fake-root/etc/kubernetes/kubeconfig
ignition-generator/fake-root/etc/kubernetes/ca.crt
ignition-generator/worker-remote.machineconfig.yaml
ignition-generator/worker-remote-user-data.secret.yaml
