/pki
/manifests
*-secret.yaml
/openshift-apiserver/openshift-apiserver-apiservices.yaml
/config.sh
ignition-generator/fake-root/etc/kubernetes/kubeconfig
ignition-generator/fake-root/etc/kubernetes/ca.crt
haproxy.cfg
