# namespace in the managed cluster in which to deploy the control plane
export NAMESPACE=hosted

# the name external name on which to connect to the user cluster API server
# IMPACT: kube-apiserver cert generation and admin.kubeconfig server URL
export EXTERNAL_API_DNS_NAME=managed.example.com

# the external port on which to connect to the user cluster API server
# IMPACT: admin.kubeconfig server URL
export EXTERNAL_API_PORT=31123

# the command to use when running containers
export CONTAINER_CLI=podman
