# none, aws, or openstack
export PLATFORM=none

# namespace in the managed cluster in which to deploy the control plane
export NAMESPACE=hosted

# the name external name on which to connect to the user cluster API server
# IMPACT: kube-apiserver cert generation and admin.kubeconfig server URL
export EXTERNAL_API_DNS_NAME=managed.example.com

# the external IP on which to connect to the user cluster API server
export EXTERNAL_API_IP_ADDRESS=$(dig +short ${EXTERNAL_API_DNS_NAME})

# the external port on which to connect to the user cluster API server
# IMPACT: admin.kubeconfig server URL
export EXTERNAL_API_PORT=31123

# the name external name on which to connect to the managed openvpn server
export EXTERNAL_OPENVPN_DNS_NAME=managed.example.com

# the external port on which to connect to the managed openvpn server
export EXTERNAL_OPENVPN_PORT=1194

# the cluster IP to use for openshift-apiserver
export API_CLUSTERIP=172.30.0.20

# OKD/OCP release image from which to get component image pull specs
export RELEASE_IMAGE=$(curl -s "https://origin-release.svc.ci.openshift.org/api/v1/releasestream/4.2.0-0.okd/latest" | jq -r .pullSpec)

# the base domain for the cluster
export BASE_DOMAIN=example.com

# the subdomain to be used for the ingress router
export INGRESS_SUBDOMAIN="apps.${BASE_DOMAIN}"

# the external port on which to connect to the user cluster API server
# IMPACT: admin.kubeconfig server URL
export API_NODEPORT=31123

# the external port on which to connect to the managed openvpn server
export OPENVPN_NODEPORT=31124
