apiVersion: kubecontrolplane.config.openshift.io/v1
kind: KubeControllerManagerConfig
extendedArguments:
  kubeconfig:
  - "/etc/kubernetes/kubeconfig"
  allocate-node-cidrs:
  - 'true'
  cert-dir:
  - "/var/run/kubernetes"
  cluster-cidr:
  - 10.128.0.0/14
  cluster-signing-cert-file:
  - "/etc/kubernetes/cluster-signer.crt"
  cluster-signing-key-file:
  - "/etc/kubernetes/cluster-signer.key"
  configure-cloud-routes:
  - 'false'
  controllers:
  - "*"
  - "-ttl"
  - "-bootstrapsigner"
  - "-tokencleaner"
  enable-dynamic-provisioning:
  - 'true'
  experimental-cluster-signing-duration:
  - 720h
  feature-gates:
  - ExperimentalCriticalPodAnnotation=true
  - RotateKubeletServerCertificate=true
  - SupportPodPidsLimit=true
  - LocalStorageCapacityIsolation=false
  flex-volume-plugin-dir:
  - "/etc/kubernetes/kubelet-plugins/volume/exec"
  kube-api-burst:
  - '300'
  kube-api-qps:
  - '150'
  leader-elect:
  - 'true'
  # TODO: OOTB kube-controller-manager cluster role does not allow updating
  # configmpas in kube-system.  kube-apiserver won't allow creation of
  # rolebinding in the user cluster without on operational openshift-apiserver.
  #leader-elect-resource-lock:
  #- configmaps
  leader-elect-retry-period:
  - 3s
  port:
  - '0'
  root-ca-file:
  - "/etc/kubernetes/ca.crt"
  secure-port:
  - '10257'
  service-account-private-key-file:
  - "/etc/kubernetes/service-account"
  service-cluster-ip-range:
  - 172.30.0.0/16
  use-service-account-credentials:
  - 'true'
serviceServingCert:
  certFile: "/etc/kubernetes/ca.crt"